<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'player_position.css' %}">
    <title>Moviemons</title>
</head>
<body>
    <div class="consoleArea">
        <div class="screen">
            
            {% block grid %}
                
            {% endblock grid %}
                
        </div>
        <div class="controls">
            <div class="arrow">
                <table>
                    <tr>
                        <td></td>
                        <td class="buttonArrow">
                            <a href="?a=up"></a>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="buttonArrow">
                            <a href="?a=left"></a>
                        </td>
                        <td class="buttonArrow"></td>
                        <td class="buttonArrow">
                            <a href="?a=right"></a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="buttonArrow">
                            <a href="?a=down"></a>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="middleButtons">
                <div class="select">
                        <a href="?a=select">
                            <div class="optStrtButton"></div>
                        </a>
                    Select
                </div>
                <div class="start">
                        <a href="?a=start">
                            <div class="optStrtButton"></div>
                        </a>
                    Start
                </div>
            </div>
            <div class="ABButtons">
                <table>
                        <tr>
                            <td></td>
                            <td class="buttonAB">
                                <a href="?a=a">
                                    <div class="letter">A</div>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="buttonAB">
                                <a href="?a=b">
                                    <div class="letter">B</div>
                                </a>
                            </td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
</body>
</html>