<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Moviemons</title>
</head>
<body>
    <div class="consoleArea">
        <div class="screen"></div>
        <div class="controls">
            <div class="arrow">
                <table>
                    <tr>
                        <td></td>
                        <td class="buttonArrow"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="buttonArrow"></td>
                        <td class="buttonArrow"></td>
                        <td class="buttonArrow"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="buttonArrow"></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="middleButtons">
                <div class="optSlectButton"></div>
                <div class="optSlectButton"></div>
            </div>
            <div class="ABButtons">
                <table>
                        <tr>
                            <td></td>
                            <td class="buttonAB">A</td>
                        </tr>
                        <tr>
                            <td class="buttonAB">B</td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
</body>
</html>