@font-face {
    font-family: retropolice;
    src: url('ARCADECLASSIC.ttf');
}

body{
    font-family: retropolice;
}

.consoleArea, .screen, .optStrtButton{
    border: 1px solid black;
    border-radius: 30px;
}

.consoleArea{
    margin: auto;
    width: 550px;
    height: 900px;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: whitesmoke;
}

.screen{
    width: 500px;
    height: 500px;
    margin: auto;
    border: 3px solid black;
    overflow-y: auto; 
}
.screenBox{
    display: flex;
    flex-direction: column;
    /* overflow-y:hidden ; */
    /* align-items: center; */
    /* justify-content: center; */
}

.controls{
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

tr, td{
    width: 35px;
    height: 35px;
}

.arrow .buttonArrow, .optStrtButton{
    color: grey;
    background-image: linear-gradient(45deg, grey, #474748);
    border: 5px solid #5c5c5d;
}

.ABButtons .buttonAB{
    color: red;
    background-image: linear-gradient(45deg, red, #fa5961);
    border: 5px solid #dd4848;
}

.buttonAB{
    border-radius: 50%;
}

.middleButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 105px;
    height: 105px;
}

.optStrtButton{
    margin: 10px;
    height: 15px;
    width: 35px;
}

.select, .start{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.letter{
    margin: 0 13px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.arrow td a{
    width: 100%;
    height: 100%;
    display: block;
}

.title_screen{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: darkseagreen;
    border-radius: 30px;
    /* background-color: rgb(255, 255, 255, 0.4); */
}

.instructions{
    color: rgb(83, 3, 3);
    font-size: 35px;
    font-family: retropolice;
}

.gameDiv{
    width: 100%;
    height: 480px;
    position: relative;
    background-color: rgb(255, 255, 255, 0.2);
    background-image: url('map.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
}

.player{
    width: 10%;
    height: 10%;
    background-image: url('character.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.movieballs{
    padding-left: 15px;
}

.message{
    position: absolute;
    width: 80%; 
    height: 20%;
    color: red;
    top: 30%;
    left: 10%;
    text-align: center;
}
.messageBattle{
    position: absolute;
    width: 80%; 
    height: 20%;
    color: red;
    bottom: 40%;
    left: 10%;
    text-align: center;
}

.battle, .detail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:5%;
}

.imgmon{
    height: 100px;
    width: 72px;
    background-size: cover;
    background-repeat: no-repeat;
}

.screen li{
    display: inline-block;
    width: 20%;
}

.tuning{
    border: 3px solid rgba(165, 7, 7, 0.63);
    border-radius: 4px;
}